<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlearn.guli.mapper.PmsProductAttrValueMapper">

    <!-- 联表查询spu所属分类下、可检索(search_type=1)的属性值 -->
    <select id="selectSearchAttrsBySpuId" resultType="com.atlearn.guli.domain.PmsProductAttrValue">
        SELECT
            pav.attr_id,
            pav.attr_name,
            pav.attr_value
        FROM pms_product_attr_value pav
        INNER JOIN pms_attr pa ON pa.attr_id = pav.attr_id
        WHERE pav.spu_id = #{spuId}
          AND pa.catelog_id = #{catalogId}
          AND pa.search_type = 1
        ORDER BY pav.attr_sort ASC
    </select>

</mapper>
