<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlearn.guli.mapper.WmsWareSkuMapper">

    <resultMap id="skuStockVoMap" type="com.atlearn.guli.domain.dto.SkuIdToStockDTO">
        <result property="skuId" column="sku_id"/>
        <result property="stock" column="stock"/>
    </resultMap>

    <select id="getSkuIdToStockMap" resultMap="skuStockVoMap">
        select sku_id, coalesce(sum(stock - stock_locked), 0) as stock
        from wms_ware_sku
        where sku_id in
        <foreach collection="skuIds" item="skuId" open="(" separator="," close=")">
            #{skuId}
        </foreach>
        group by sku_id
    </select>

    <select id="getWareSkuListBySkuIds" resultType="com.atlearn.guli.domain.vo.RmeWareSkuVo">
        select id,
               sku_id   as skuId,
               ware_id  as wareId,
               sku_name as skuName,
               (stock - stock_locked) as availableStock
        from wms_ware_sku
        where sku_id in
        <foreach collection="skuIds" item="skuId" open="(" separator="," close=")">
            #{skuId}
        </foreach>
        order by availableStock desc
    </select>

</mapper>
