<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlearn.guli.mapper.WmsWareSkuMapper">

    <resultMap id="skuStockVoMap" type="com.atlearn.guli.domain.dto.SkuIdToStockDTO">
        <result property="skuId" column="sku_id"/>
        <result property="stock" column="stock"/>
    </resultMap>

    <select id="getSkuIdToStockMap" resultMap="skuStockVoMap">
        select sku_id,
               coalesce(sum(stock - stock_locked), 0) as stock
        from wms_ware_sku
        where sku_id in
        <foreach collection="skuIds" item="skuId" open="(" separator="," close=")">
            #{skuId}
        </foreach>
        group by sku_id
    </select>

    <!-- 查询某sku所在的所有仓库 -->
    <select id="listWareBySkuId" resultType="com.atlearn.guli.domain.WmsWareSku">
        select id, sku_id, ware_id, stock, sku_name, stock_locked
        from wms_ware_sku
        where sku_id = #{skuId}
          and stock - stock_locked &gt; 0
        order by stock - stock_locked desc
    </select>

    <!-- 乐观锁锁定库存 -->
    <update id="lockStock">
        update wms_ware_sku
        set stock_locked = stock_locked + #{num}
        where id = #{id}
          and stock - stock_locked &gt;= #{num}
    </update>

    <!-- 解锁库存 -->
    <update id="unlockStock">
        update wms_ware_sku
        set stock_locked = stock_locked - #{num}
        where id = #{id}
          and stock_locked &gt;= #{num}
    </update>

</mapper>
